*{
    margin: 0;
    padding:0;
    box-sizing: border;
    font-family: 'Poppins', sans-serif;
}
body{
    color:#ededed;
    background: #081b29;
}

a{
    text-decoration: none;
    color: #081b29;
    font-size: 20px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #010a1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position:relative;
    font-size: 25px;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar{
    margin-right: 250px;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
    
    
}

.navbar a:hover{
    color: #0ef;
    
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 30vh;
    /* background:url(Purple\ Illustrated\ Mountain\ Desktop\ Wallpaper.png) no-repeat ; */
    background: #091b2a no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    align-items: center;
    padding: 17% 32% ;
    text-align: center;
}

.home-content{
    max-width: 600px;
    text-align: center;
}
/* img{
    width:60%;
     border-radius: 50%;
     border: 5px solid #0ef;
     box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
   
     
} */
.home-content h3{
    font-size: 57px;
    font-weight: 700;
    
    opacity: 0;
    animation-delay: .7s;
    animation: slideBottom .1s ease forwards;
}

 span{
    color: #0ef;
}

.home-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    text-decoration: none;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    margin: 30px 15px 30px 0;
    color: #0ef;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
    
}

.home-icon a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    margin-top: 20px;
    display: inline-flex;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 20px;
    color: #081b29;
    letter-spacing: 2px;
    font-weight: 600;
    width: auto;
    text-decoration: none;
    
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow:  0 1px #0ef;

}
.btn-box:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.about-text a{
    padding-top: 15%;
    margin-top: 20px;
    display: inline-flex;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    font-weight: 600;
    width: auto;
    text-decoration: none;
}

.about-text a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img{
    /* padding-top: 6%; */
    max-width: 500px;
    height: auto;
    width: 100%;
    border-radius: 20px;
    margin-left: 30%;
    width:30%;
     /* border-radius: 50%; */
     border: 5px solid #0ef;
     box-shadow: 0 0 2px #0ef, 0 0 10px #0ef;
     transition: transform 0.5s;
}

.about-text h2{
    padding-top: 15%;
    font-size: 60px;

}

.about-text h2 span{
   color: #0ef;
    
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    font-size: 20px;
    margin-bottom: 4rem;
    line-height: 1.4;
    color: aliceblue;

}

/* ..............................Skill Section......................... */
/* #skills h1 {
    padding-top: 15%;
    color: aliceblue ;
    text-align: center;
    font-size: 60px;
    margin-bottom: 4%;
    /* padding-bottom: 5%; */


.sub-title{
    text-align: center;
    padding-top: 15%; 
    font-size: 60px;
}

#skills h2{
    padding: 50px;
    color: aliceblue ;
    text-align: center;
    font-size: 30px;
    
}

.skill {
    height: auto;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5% 3%;
    padding-bottom: 100px;
    margin-bottom: 8%;

}

.skills-card {
    
    text-align: center;
    width: 80%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 5px solid #033a80;
    padding: 3%;
    background-color:rgb(69, 119, 122);
    border-radius: 10px;
    color: #0f0c27 ;
    /* transition: background 0.5s, transform 0.5s; */
}

.skills-card:hover {
    border: 2px solid #033a80;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    background-color: rgb(143, 221, 226);
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
    transform: translateY(-15px);

}

.skills-card-img {
    width: 50%;
    padding-top: 4%;
    border-radius: 10px;
}

.skills-card-name {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    /* animation-delay: 0s; */
}


/* section{
    display: flex;
    flex-wrap: wrap;
} */




.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness:5px ;
    margin-bottom: 50px;
}

.layer h5{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness:5px ;
    padding: 10px;
   text-decoration-color:burlywood;
}

/* project */

/* .project{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
} */

.main-text{
    padding-top: 100px;
    
}

.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.main-text h2 span{
    color: #0ef;
}

.project-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    /* border: 2px solid white; */
    width: 80%;
    margin: 100px;
}

.row img{
    width: 100%;
    border-radius: 8px;
    /* display: block; */
    transition: transform 0.5s;
}


/* .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0,1) #0ef);
    position: absolute;
    border-radius: 8px;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s ;
} */

.layer h5{
    color: #0ef;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;

}

.layer p{
    color: #e2d6d6;
    font-size: 1rem;
    line-height:1.8;
}

/* .layer i{
    color: red;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
} */

.row:hover {
    transform: scale(1.1);
}

.row:hover .layer{
    height: 100;
}


.resume{
    /* transform: scale(1.1); */
    /* transition: transform 0.5s; */
    /* border: 2px solid white; */
    color: #0ef;
    position: relative;
}

.resume h2{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
     margin-top: 100px;
     margin-bottom: 10px; 
}

.resume-content {
    align-items: center;
    /* border: 2px solid white; */
    position: relative;
    /* overflow: hidden; */
    border-radius: 8px;
    cursor: pointer;
    /* border: 2px solid white; */
    width: 40%;
    margin-left: 30%;

}

.resume-content h5{
    color: #e2d6d6;
    font-size: 1.5rem;
    line-height:1.8;
    
}

.resume-content a{
    text-align: center;
    align-items: center;
    margin-left: 35%;
}


.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}

.contact-list{
    margin-bottom: 3rem;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size:20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;

}

.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size:20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px  30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay:calc(.2s * var(--1));
}


.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form{
    position: relative;

}


.contact-form form input, form textarea{
    border: none;
    outline: none;
    width:80%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea{
    resize: none;
    height: 220px;

}

.contact-form form .send{
   display: inline-block;
   padding: 14px 60px;
   background: #0ef;
   border-radius: 40px;
   font-size: 18px;
   font-weight: 600;
   color: #081b29;
   letter-spacing: 1px;
   text-align: none;
   opacity: 0;
   animation: slideTop 1s ease forwards;
   animation-delay: 2s;
   /* box-shadow: 0 0 5px #0ef, 0 0 25px #0ef; */
}



.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 70px;

}

.top{
    position: fixed;
    bottom: 2.1rem;
    right:2,1rem
}

.top i {
    color:#000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}




@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}